<main>
    <div class="data-entry-field">
        <h1>Registration</h1>
        {{{ Input className="input__main-input" pholderText="first name" event=ddd}}}
        {{{ Input className="input__main-input" pholderText="second name" }}}
        {{{ Input className="input__main-input" pholderText="login" }}}
        {{{ Input className="input__main-input" pholderText="email" }}}
        {{{ Input className="input__main-input" pholderText="phone" }}}
        {{{ Input className="input__main-input" pholderText="password" inType="password"}}}
        {{{ Input className="input__main-input" pholderText="repeat password" inType="password" }}}
        <div class="button__row-container">
            {{{ Button label="Sign in" className="button__secondary-button rounding"}}}
            {{{ Button label="Register" className="button__primary-button rounding" }}}
        </div>
    </div>
</main>